<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.njit.buddy.application">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="false" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_new_launcher"
            android:label="@string/app_name"
            android:theme="@style/BuddyTheme">
        <activity
                android:name="com.njit.buddy.application.WelcomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.njit.buddy.application.VSistersActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="com.njit.buddy.application.LoginActivity"
                android:label="@string/title_activity_login"
                android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
                android:name="com.njit.buddy.application.ConditionsActivity"
                android:label="@string/title_activity_terms"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name="com.njit.buddy.application.RegisterActivity"
                android:label="@string/title_activity_register"
                android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
                android:name="com.njit.buddy.application.IntroductionActivity"
                android:label="@string/title_activity_intro"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name="com.njit.buddy.application.AccountActivity"
                android:label="@string/title_activity_account">
        </activity>
        <activity
                android:name="com.njit.buddy.application.ProfileActivity"
                android:label="@string/title_activity_profile">
        </activity>
        <activity
                android:name="com.njit.buddy.application.SettingActivity"
                android:label="@string/title_activity_setting">
        </activity>
        <activity
                android:name="com.njit.buddy.application.HugActivity"
                android:label="@string/title_activity_hug">
        </activity>
        <activity
                android:name="com.njit.buddy.application.CommentActivity"
                android:label="@string/title_activity_comment">
        </activity>
        <activity
                android:name="com.njit.buddy.application.PasswordChangeActivity"
                android:label="@string/title_activity_password_change"
                android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
                android:name="com.njit.buddy.application.UserPostsActivity"
                android:label="@string/title_activity_user_posts">
        </activity>
    </application>

</manifest>
